<html lang="en" class="no-js">
<head>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>

	<!-- <link rel="stylesheet" href="reset.css"> <!-- CSS reset -->
	<!-- <link rel="stylesheet" href="style.css"> <!-- Resource style -->
	<!-- <script src="javascripts/modernizr.js"></script> <!-- Modernizr -->
  	
	<title>Cody House</title>
</head>
<body>
<main id="cd-main-content">
	<section id="cd-intro">
		<h1>Cody House</h1>
		<%= render "icons" %>
		<header class="cd-header">
			<a class="cd-menu-trigger" href="#main-nav">Menu<span></span></a>
		    <li class="social"><a href="#0">Music</a></li>
		    <li class="social"><svg class="facebook-icon">
        <use xlink:href="#facebook-icon"/>
      </svg></li>
		    <li class="social"><a href="#0">Music</a></li>
		    <li class="social"><a href="#0">Music</a></li>
		</header>
		<div class="cd-blurred-bg"></div>
	</section> <!-- cd-intro -->
</main>

<div class="cd-shadow-layer"></div>

<nav id="main-nav">
	<ul>
		<li><a href="#0"><span>Music</span></a></li>
		<li><a href="#0"><span>Musings</span></a></li>
		<li><a href="#0"><span>Gigs</span></a></li>
		<li><a href="#0"><span>Photos</span></a></li>
		<li><a href="#0"><span>Contact</span></a></li>
	</ul>
	<a href="#0" class="cd-close-menu">Close<span></span></a>
</nav>

<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> -->
<!-- <script src="index.js"></script> --> <!-- Resource jQuery -->
</body>
</html>